body {
  background-color: rgba(86, 86, 150, 0.719);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1 {
  height: 127px;
  background-image: url("./images/Frogger-Logo-60108954.png");
  max-width: 100%;
}
.board {
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 300px;
  margin-right: 300px;
  border: 4px solid black;
  background-image: url("https://www.goodfreephotos.com/albums/other-photos/backgrounds/green-grass-background.jpg");
}

.board div {
  width: 65px;
  height: 65px;
}

.start {
  /* background-image: url("https://www.goodfreephotos.com/albums/other-photos/backgrounds/green-grass-background.jpg"); */
  z-index: 5;
}

.end {
  border-radius: 30px;
  background-image: url("./images/froggerlilypadpng.png");
}

.a1,
.a2,
.a3 {

  background-image: url("./images/froggerlog\ \(2\).png");
}
.a4,
.a5 {
  background-image: url("./images/frogwaterjpg.jpg");
}

.b1 {
  background-image: url("./images/frogger_car-removebg-preview\ \(1\).png");
}

.right-car c1 {
  background-image: url("./images/th-1953879134.png");
}
.b2,
.b3 {
  background-image: url("./images/c92b5d89eb53814b63a889b8dac77ee2.png");
}

.frogger {
  background-image: url("./images/pngwing.com.png");
  z-index: 10;
}

.btn {
  border: 1px solid black;
  cursor: pointer;
  width: 50px;
  background-color: coral;

}

footer {
  height: 127px;
  background-image: url("./images/Frogger-Logo-60108954.png");
  max-width: 100%;
}
